{% extends "base.html" %}
{% load blog_extras cache %}
{% block content %}
    <h2>{{ post.title }}</h2>
    {% row %}
        {% col %}
            {% include "blog/post_byline.html" %}
        {% endcol %}
    {% endrow %}
    {% row %}
        {% col %}
            <p>{{ post.content|safe }}</p>
        {% endcol %}
    {% endrow %}
    {% include "blog/post_comments.html" %}
    {% row %}
        {% col %}
            {% cache 3600 recent_posts post %}
                {% recent_posts post %}
            {% endcache %}
        {% endcol %}
    {% endrow %}
{% endblock %}